<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {{{styles}}}
    </head>
    <body>
        <nav class="document-navigation">
            {{{toc}}}
        </nav>
        {{#each content}}
            <section>
                <a href="#_{{number}}" aria-hidden="true" class="anchor" id="_{{number}}"></a>
                {{{html}}}
            </section>
        {{/each}}
    </body>
</html>
